variables:
  SYNOPSYS_DC: synopsys-2019.12 dc_shell -64bit

before_script:
  - export PATH=~/.cargo/bin:$PATH
  - mkdir -p build

vsim:
  stage: build
  script:
    - export ARTIFACT="vsim-$VSIM_VER"
    - export VSIM="vsim-$VSIM_VER -64"
    - export VLIB="vlib-$VSIM_VER"
    - export VLOG="vlog-$VSIM_VER -64"
    - >
      if ! $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh lookup $ARTIFACT; then
        cd build && ../scripts/compile_vsim.sh && mv work{,-$VSIM_VER}
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh insert $ARTIFACT
      fi
  parallel:
    matrix:
      - VSIM_VER: ['10.6b', '10.7b']
        DUMMY: 'ignored' # workaround for GitLab 13.4; remove for newer versions

synopsys_dc:
  stage: build
  script:
    - >
      if ! $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh lookup synopsys_dc; then
        cd build && ../scripts/synth.sh
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh insert synopsys_dc
      fi

.run_vsim: &run_vsim
  stage: test
  script:
    - export ARTIFACT="$TEST_MODULE-vsim_$VSIM_VER"
    - export VSIM="vsim-$VSIM_VER -64"
    - >
      if ! $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh lookup $ARTIFACT; then
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh get vsim-$VSIM_VER
        cd build
        mv work{-$VSIM_VER,}
        ../scripts/run_vsim.sh $TEST_MODULE && touch $ARTIFACT.tested
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh insert $ARTIFACT
      fi
  parallel:
    matrix:
      - VSIM_VER: ['10.6b', '10.7b']
        DUMMY: 'ignored' # workaround for GitLab 13.4; remove for newer versions

axi_addr_test:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_addr_test

axi_atop_filter:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_atop_filter

axi_cdc:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_cdc

axi_delayer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_delayer

axi_dw_downsizer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_dw_downsizer

axi_dw_upsizer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_dw_upsizer

axi_isolate:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_isolate

axi_lite_regs:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_regs

axi_lite_to_apb:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_to_apb

axi_lite_to_axi:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_to_axi

axi_lite_mailbox:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_mailbox

axi_lite_xbar:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_xbar

axi_modify_address:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_modify_address

axi_serializer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_serializer

axi_to_axi_lite:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_to_axi_lite

axi_xbar:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_xbar
