variables:
  VSIM: vsim-10.7b -64
  VLIB: vlib-10.7b
  VLOG: vlog-10.7b -64
  SYNOPSYS_DC: synopsys-2019.12 dc_shell -64bit

before_script:
  - export PATH=~fschuiki/.cargo/bin:$PATH
  - mkdir -p build

vsim:
  stage: build
  script:
    - >
      if ! memora lookup vsim; then
        cd build && ../scripts/compile_vsim.sh
        memora insert vsim
      fi

synopsys_dc:
  stage: build
  script:
    - >
      if ! memora lookup synopsys_dc; then
        cd build && ../scripts/synth.sh
        memora insert synopsys_dc
      fi

.test_module: &test_module
  stage: test
  script:
    - >
      if ! memora lookup $TEST_MODULE; then
        memora get vsim
        cd build && ../scripts/run_vsim.sh $TEST_MODULE
        memora insert $TEST_MODULE
      fi

axi_atop_filter:
  <<: *test_module
  variables:
    TEST_MODULE: axi_atop_filter

axi_cdc:
  <<: *test_module
  variables:
    TEST_MODULE: axi_cdc

axi_delayer:
  <<: *test_module
  variables:
    TEST_MODULE: axi_delayer

axi_dw_downsizer:
  <<: *test_module
  variables:
    TEST_MODULE: axi_dw_downsizer

axi_dw_upsizer:
  <<: *test_module
  variables:
    TEST_MODULE: axi_dw_upsizer

axi_isolate:
  <<: *test_module
  variables:
    TEST_MODULE: axi_isolate

axi_lite_to_apb:
  <<: *test_module
  variables:
    TEST_MODULE: axi_lite_to_apb

axi_lite_to_axi:
  <<: *test_module
  variables:
    TEST_MODULE: axi_lite_to_axi

axi_lite_mailbox:
  <<: *test_module
  variables:
    TEST_MODULE: axi_lite_mailbox

axi_lite_xbar:
  <<: *test_module
  variables:
    TEST_MODULE: axi_lite_xbar

axi_to_axi_lite:
  <<: *test_module
  variables:
    TEST_MODULE: axi_to_axi_lite

axi_xbar:
  <<: *test_module
  variables:
    TEST_MODULE: axi_xbar
