variables:
  SYNOPSYS_DC: synopsys-2022.03 dcnxt_shell

before_script:
  - export PATH=~/.cargo/bin:$PATH
  - mkdir -p build

stages:
  - build
  - test

vsim:
  stage: build
  script:
    - export ARTIFACT="vsim-$VSIM_VER"
    - >
      case $VSIM_VER in 20*)
        export VSIM="questa-$VSIM_VER vsim -64";
        export VLIB="questa-$VSIM_VER vlib";
        export VLOG="questa-$VSIM_VER vlog -64";
        ;;
      *)
        export VSIM="vsim-$VSIM_VER -64";
        export VLIB="vlib-$VSIM_VER";
        export VLOG="vlog-$VSIM_VER -64";
        ;;
      esac
    - >
      if ! $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh lookup $ARTIFACT; then
        cd build && ../scripts/compile_vsim.sh && mv work{,-$VSIM_VER}
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh insert $ARTIFACT
      fi
  parallel:
    matrix:
      - VSIM_VER: ['10.7b', '2022.3']

synopsys_dc:
  stage: build
  script:
    - >
      if ! $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh lookup synopsys_dc; then
        cd build && ../scripts/synth.sh
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh insert synopsys_dc
      fi

fuse_xsim:
  stage: build
  allow_failure: true
  timeout: 5 minutes
  script:
    - bender sources
    - /usr/local/anaconda3/bin/python3 -m pip install fusesoc --user
    - mkdir fusesoc && cd fusesoc
    - $HOME/.local/bin/fusesoc library add axi ..
    - $HOME/.local/bin/fusesoc core list
    - vitis-2022.1-zr $HOME/.local/bin/fusesoc run --tool xsim --target sim --no-export pulp-platform.org::axi:$(cat ../VERSION | sed s/-/./g)

.run_vsim: &run_vsim
  stage: test
  script:
    - export ARTIFACT="$TEST_MODULE-vsim_$VSIM_VER"
    - >
      case $VSIM_VER in 20*)
        export VSIM="questa-$VSIM_VER vsim -64";
        ;;
      *)
        export VSIM="vsim-$VSIM_VER -64";
        ;;
      esac
    - >
      if ! $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh lookup $ARTIFACT; then
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh get vsim-$VSIM_VER
        cd build
        mv work{-$VSIM_VER,}
        ../scripts/run_vsim.sh --random-seed $TEST_MODULE && touch $ARTIFACT.tested
        $CI_PROJECT_DIR/.gitlab-ci.d/memora_retry.sh insert $ARTIFACT
      fi
  parallel:
    matrix:
      - VSIM_VER: ['10.7b', '2022.3']

axi_addr_test:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_addr_test

axi_atop_filter:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_atop_filter

axi_cdc:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_cdc

axi_delayer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_delayer

axi_dw_downsizer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_dw_downsizer

axi_dw_upsizer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_dw_upsizer

axi_fifo:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_fifo

axi_isolate:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_isolate

axi_iw_converter:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_iw_converter

axi_lite_dw_converter:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_dw_converter

axi_lite_mailbox:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_mailbox

axi_lite_regs:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_regs

axi_lite_to_apb:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_to_apb

axi_lite_to_axi:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_to_axi

axi_lite_xbar:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_lite_xbar

axi_modify_address:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_modify_address

axi_serializer:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_serializer

axi_sim_mem:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_sim_mem

axi_to_axi_lite:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_to_axi_lite

axi_to_mem_banked:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_to_mem_banked

axi_xbar:
  <<: *run_vsim
  variables:
    TEST_MODULE: axi_xbar

vcs_axi_addr_test:
  stage: test
  script:
    - make sim_vcs-axi_addr_test.log

vcs_axi_atop_filter:
  stage: test
  script:
    - make sim_vcs-axi_atop_filter.log

vcs_axi_cdc:
  stage: test
  script:
    - make sim_vcs-axi_cdc.log

vcs_axi_delayer:
  stage: test
  script:
    - make sim_vcs-axi_delayer.log

vcs_axi_dw_downsizer:
  stage: test
  script:
    - make sim_vcs-axi_dw_downsizer.log

vcs_axi_dw_upsizer:
  stage: test
  script:
    - make sim_vcs-axi_dw_upsizer.log

vcs_axi_fifo:
  stage: test
  script:
    - make sim_vcs-axi_fifo.log

vcs_axi_isolate:
  stage: test
  script:
    - make sim_vcs-axi_isolate.log

vcs_axi_iw_converter:
  stage: test
  script:
    - make sim_vcs-axi_iw_converter.log

vcs_axi_lite_regs:
  stage: test
  script:
    - make sim_vcs-axi_lite_regs.log

vcs_axi_lite_to_apb:
  stage: test
  script:
    - make sim_vcs-axi_lite_to_apb.log

vcs_axi_lite_to_axi:
  stage: test
  script:
    - make sim_vcs-axi_lite_to_axi.log

vcs_axi_lite_mailbox:
  stage: test
  script:
    - make sim_vcs-axi_lite_mailbox.log

vcs_axi_lite_xbar:
  stage: test
  script:
    - make sim_vcs-axi_lite_xbar.log

vcs_axi_modify_address:
  stage: test
  script:
    - make sim_vcs-axi_modify_address.log

vcs_axi_serializer:
  stage: test
  script:
    - make sim_vcs-axi_serializer.log

vcs_axi_sim_mem:
  stage: test
  script:
    - make sim_vcs-axi_sim_mem.log

vcs_axi_to_axi_lite:
  stage: test
  script:
    - make sim_vcs-axi_to_axi_lite.log

vcs_axi_to_mem_banked:
  stage: test
  script:
    - make sim_vcs-axi_to_mem_banked.log

vcs_axi_xbar:
  stage: test
  script:
    - make sim_vcs-axi_xbar.log
